
$primary-color-blue: #43afff;   //primary-color
$primary-color-dark: #303f60;
$secondary-color-grey: #a9afbc;
$secondary-color-dark: #4d618e; //primary-color-dark-light
$tertiary-color-sky: #edf6ff;  //secondary-color
$tertiary-color-dark: #d9efff; //secondary-color-dark

